{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/flask+pytorch.png') }}" alt="">
            </div>
            <p class="lead">This project is aimed to show the results of a Semantic Segmentation Network to detect Bitou Bush in images<br> <a
                    href="https://github.com/NicoMandel/bitou_inference"> View on GitHub</a></p>
            <p>
                This app uses a pretrained Network which is downloaded into the docker container. The image is passed through the network and the 
                results are displayed on the next page. Try it out!
            </p>

        </div>
    </div>
</div>
{% endblock %}